{% extends "layout.html" %}

{% block title %}
    Small2it
{% endblock %}

{% block content %}
    <h1>Small2it</h1>
    <p>Small2it is a blog about your thoughts that matter.</p>
    <a class="btn btn-primary" href="{% url 'tweet_create' %}">Create</a>
    <div class="container row gap-4">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
            <img src="{{tweet.photo.url}}" class="card-img-top" alt="Image">
            <div class="card-body">
              <h5 class="card-title">{{tweet.user.username}}</h5>
              <p class="card-text">{{tweet.text}}</p>
              {% if tweet.user == user %}
              <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}

{% block navbar %}
    Small2it
{% endblock %}